@import 'custom';

body {
  margin: 12px 20px;
}

// extend bootstrap run for wider displays
@media (min-width: 1600px) {
  body .container {
    max-width: 1540px;
  }
}

.container {
  margin: auto;
  overflow: hidden;
  padding: 0 15px;
  width: 100%;
}

textarea {
  font-family: monospace;
  max-width: 876px;
  width: 100%;
}

.panel {
  border-color: grey;
  border-style: dotted;
  border-width: 1px 1px 1px 1px;
  font-size: 120%;
  padding: 0 8px;
  p {
    // margin-bottom: 0.2rem;
    color: #BDBDBD;
  }
}

#panel_encoded > p > .length,
#header > p > .length,
#payload > p > .length,
#directkey > p > .length,
#symmetrickey > p > .length {
  font-size: 60%;
}

#directkey,
#symmetrickey {
  > input {
    background-color: white; /* must be explicit to allow flash? */
    font-family: monospace;
    padding-left: 6px;
    width: 100%;
  }
  > div {
    margin-left: 32px;
    span {
      color: #BDBDBD;
      display: inline-block;
      font-size: 80%;
      width: 140px;
    }
    input {
      font-family: monospace;
      margin-left: 8px;
      padding-left: 6px;
      width: 440px;
    }
    select {
      display: inline-block;
      margin-left: 8px;
      width: 180px;
    }
  }
}

.panel-left {
  float: left;
  width: 520px;
  min-height: 720px;
  margin: 2px 0;
}

.panel-center {
  border-width: 0;
  float: left;
  margin: 2px 0;
  width: 162px;
  > button {
    margin-top: 14px;
  }
  #chk-iat {
    width: auto;
  }
  > * {
    width: 140px;
  }
  > select:not(:first-child) {
    margin-top: 14px;
  }
  .form-control-sm {
    padding-left: 0.25rem;
  }
}

.panel-right {
  margin-left: 678px;
  min-width: 452px;
}

div.CodeMirror {
  border: 1px dotted #ccc;
  height: auto;
}


pre.CodeMirror-line > span {
  /* all below, to handle really long JWTs */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  /* white-space: normal; */
}

.rawvalue {
  max-width: 1024px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  margin: 0 0 8px 0;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 2rem;

  /* all below, to handle really long JWTs */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}

.cm-jwt-header {
  color: #fa003a;
}

.cm-jwt-payload {
  color: #b100ff;
}
.cm-jwt-iv {
  color: #FF948A;
}
.cm-jwt-key {
  color: #89BB86;
}
.cm-jwt-signature, .cm-jwt-authtag {
  color: #3184fb;
}

/*

.cm-jwt-header:hover::after {
    display: inline-flex;
}
.cm-jwt-header::after {
    content: "JWT Header";
}

.cm-jwt-header::after,
.cm-jwt-payload::after,
.cm-jwt-signature::after {
    background-color: #fef4c5;
    border: 1px solid #d4b943;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: none;
    padding: 2px;
    position: relative;
    right: -30px;
    text-align: center;
    top: -20px;
    width: 150px;
    z-index:100;
}

*/

#privatekey, #publickey {
  > .CodeMirror {
    font-size: 84%;
    max-height: 232px;
  }
}

#privatekey  .CodeMirror-scroll {
  max-height: 162px;
}

#publickey  .CodeMirror-scroll {
  max-height: 216px;
}

#panel_decoded > div {
  margin-bottom: 18px;
}

.banner {
  margin-bottom:24px;
  background-color: #DFDDDD;
  height: 138px;
}

.banner > .alert {
  margin: 0;
  z-index: 10;
}

.btn-copy, .btn-newkey, .btn-newpayload, .btn-newheader {
  padding: 2px 6px;
  margin: 0 4px;
  float: right;
  top: 8px;
  position: relative;
}

.banner, .footer {
  border: 1px dotted grey;
}

.footer {
  margin-top:24px;
  background-color: #ECECEC;
  padding: 0 4px;
  min-height: 120px;
}

.banner > h2, .banner > div {
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.banner > h2, .footer > h2 {
  top: 46px;
}

.banner > div {
  top: 96px;
}

.banner > div#buildversion {
  top: 118px;
  left: 0%;
  position: relative;
  margin-right: 6px;
  transform: none;
  text-align: right;
  font-size: 75%;
  font-style: italic;
}

.alert.fade {
  opacity: 0;
  transition: opacity .85s linear;
}

.copy-to-clipboard-flash-bg {
    animation-name: flashbg;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

@keyframes flashbg {
    0% {
        background: #539EDB;
    }
    100% {
        background: transparent;
    }
}

.outdated {
  // indicates that the keypair is not known to correspond to the JWT/JWE
  background-color: #DCDCDC;
}

/*
span.cm-jwt-header + div,
span.cm-jwt-payload + div,
span.cm-jwt-signature + div {
  position: absolute;
  z-index: 99;
  display:inline-block;
  top: 2px;
  left: 10px;
  background: #C9D7E5;
  border: 1px dotted #0c0c0c;
  font-family: Roboto, sans-serif;
  font-size: 12pt;
  padding:0 6px;
}
*/

#symmetrickey input[disabled] {
    color: #636C77;
    background-color: #E9ECEF;
}
