@import "custom";

body {
  margin: 12px 20px;
}

.container {
    width: 100%;
    max-width: 1540px;
    padding: 0 15px;
    margin: auto;
    overflow: hidden;
}

textarea {
  font-family: monospace;
  max-width:876px;
  width:100%;
}

.panel {
  border-width: 1px 1px 1px 1px;
  border-color: grey;
  border-style: dotted;
  padding: 0 8px;
  font-size:160%;
  p {
    margin-bottom: 0.2rem;
    color: #BDBDBD;
  }
}

#panel_encoded > p > .length,
#header > p > .length,
#payload > p > .length,
#symmetrickey > p > .length {
  font-size: 60%;
}

#symmetrickey {
  > input {
    width: 100%;
    padding-left: 6px;
    font-family: monospace;
  }
  > div {
    margin-left: 32px;
    span {
      color: #BDBDBD;
      font-size: 80%;
      width: 140px;
      display: inline-block;
    }
    input {
      margin-left: 8px;
      padding-left: 6px;
      width: 440px;
      font-family: monospace;
    }
    select {
      margin-left:8px;
      width:180px;
      display: inline-block;
    }
  }
}

.panel-left {
  float: left;
  width: 520px;
  min-height: 720px;
  margin: 2px 0;
}

.panel-center {
  float: left;
  width: 114px;
  margin: 2px 0;
  border-width: 0;
  > button {
    margin-top: 14px;
    width:92px;
  }
  > select:not(:first-child) {
    margin-top: 14px;
    width:92px;
  }
}

.panel-right {
  min-width: 452px;
  margin-left: 630px;
}

div.CodeMirror {
  border: 1px dotted #ccc;
  height: auto;
}


pre.CodeMirror-line > span {
  /* all below, to handle really long JWTs */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  /* white-space: normal; */
}

.rawvalue {
  max-width: 1024px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  margin: 0 0 8px 0;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 2rem;

  /* all below, to handle really long JWTs */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}

.cm-jwt-header {
  color: #fa003a;
}
.cm-jwt-payload {
  color: #b100ff;
}
.cm-jwt-iv {
  color: #FF948A;
}
.cm-jwt-key {
  color: #89BB86;
}
.cm-jwt-signature, .cm-jwt-authtag {
  color: #3184fb;
}

#privatekey, #publickey {
  > .CodeMirror {
    font-size: 84%;
    max-height: 232px;
  }
}

#privatekey  .CodeMirror-scroll {
  max-height: 162px;
}

#publickey  .CodeMirror-scroll {
  max-height: 216px;
}

#panel_decoded > div {
  margin-bottom: 18px;
}

.banner > .alert {
  margin: 0;
  z-index: 10;
}

.btn-copy {
  padding: 2px 6px;
  margin: 0 4px;
  float: right;
  top: 8px;
  position: relative;
}

.banner, .footer {
  border: 1px dotted grey;
}

.banner {
  margin-bottom:24px;
  background-color: #DFDDDD;
  height: 120px;
}

.footer {
  margin-top:24px;
  background-color: #ECECEC;
  padding: 0 4px;
  min-height: 120px;
}

.banner > h2, .banner > div {
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.banner > h2, .footer > h2 {
  top: 46px;
}
.banner > div {
  top: 96px;
}

.banner > div#buildversion {
  top: 112px;
  /* left: 90%; */
  margin-right: 6px;
  right: 38px;
  transform: none;
  text-align: right;
  font-size: 75%;
  font-style:italic;
}

.alert.fade {
  opacity: 0;
  transition: opacity .85s linear;
}

.copy-to-clipboard-flash-bg {
    animation-name: flashbg;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

@keyframes flashbg {
    0% {
        background: #539EDB;
    }
    100% {
        background: transparent;
    }
}

.outdated {
  background-color: #DCDCDC;
}

/*
span.cm-jwt-header + div,
span.cm-jwt-payload + div,
span.cm-jwt-signature + div {
  position: absolute;
  z-index: 99;
  display:inline-block;
  top: 2px;
  left: 10px;
  background: #C9D7E5;
  border: 1px dotted #0c0c0c;
  font-family: Roboto, sans-serif;
  font-size: 12pt;
  padding:0 6px;
}
*/

#symmetrickey input[disabled] {
    color: #636C77;
    background-color: #E9ECEF;
}
